@{
    ViewBag.Title = "About";
}
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>About</h2>
    <h3>Een pagina vol verzamelingen.</h3>
    <p>
        Namelijk: Vissen, Pokémon en Yu-Gi-Oh.
    </p>
</asp:Content>

