@{
    ViewBag.Title = "Contact";
}
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Contact</h2>
    <h3>Ken Tummers.</h3>
    <address>
        Mijn naam is Ken Tummers <br />
        Ik studeer ICT op Zuyd Hogeschool. Ik ben 24 jaar oud. <br />
        Mijn hobbies zijn: gamen, programmeren, shows kijken en creatief bezig zijn.
    </address>

    <address>
        <strong>School mail:</strong>   <a href="mailto:1116673tummers@zuyd.nl">1116673tummers@zuyd.nl</a><br />
        <strong>Persoonlijke mail:</strong> <a href="mailto:kentummers@hotmail.nl">kentummers@hotmail.nl</a>
    </address>
</asp:Content>