@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VERZAMELINGEN</h1>
    <p class="lead">Deze website bevat diverse verzamelingen.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Verzamelingen</h2>
        <p>
            Er staan een aantal verzamelingen op deze site.
        </p>
        <p><a class="btn btn-default" href="Verzamelingen">Lees meer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Deze website bevat op het moment een drietal verzamelingen, namelijk Vissen, Pokémon en Yu-Gi-Oh.</p>
        <p><a class="btn btn-default" href="About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wie ben ik</h2>
        <p>Mijn naam is Ken Tummers en ik studeer ICT op Zuyd Hogeschool.</p>
        <p><a class="btn btn-default" href="Contact">Learn more &raquo;</a></p>
    </div>
</div>