<h1>Verzamelingen</h1>

<li>@Html.ActionLink("Vissen", "Index", "ParentFish")</li>
<li>@Html.ActionLink("Pokemon", "Index", "ParentPokemon")</li>
<li>@Html.ActionLink("Yu-Gi-Oh", "Index", "ParentYuGiOh")</li>
